
<script>
    window.setTimeout(function() {
        $(".alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove();
        });
    }, 4000);
</script>





<script type="text/javascript" src="../../files/bower_components/jquery/js/jquery.min.js"></script> 
<script type="text/javascript" src="../../files/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../files/bower_components/popper.js/js/popper.min.js"></script>
<script type="text/javascript" src="../../files/bower_components/bootstrap/js/bootstrap.min.js"></script>
<!-- waves js -->
<script src="../../files/assets/pages/waves/js/waves.min.js"></script>
<!-- jquery slimscroll js -->
<script type="text/javascript" src="../../files/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>
<!-- Float Chart js -->
<script src="../../files/assets/pages/chart/float/jquery.flot.js"></script>
<script src="../../files/assets/pages/chart/float/jquery.flot.categories.js"></script>
<script src="../../files/assets/pages/chart/float/curvedLines.js"></script>
<script src="../../files/assets/pages/chart/float/jquery.flot.tooltip.min.js"></script>
<!-- Chartlist charts -->
<script src="../../files/bower_components/chartist/js/chartist.js"></script>
<!-- amchart js -->
<script src="../../files/assets/pages/widget/amchart/amcharts.js"></script>
<script src="../../files/assets/pages/widget/amchart/serial.js"></script>
<script src="../../files/assets/pages/widget/amchart/light.js"></script>
<!-- Custom js -->
<script src="../../files/assets/js/pcoded.min.js"></script>
<script src="../../files/assets/js/vertical/vertical-layout.min.js"></script>
<script type="text/javascript" src="../../files/assets/pages/dashboard/custom-dashboard.min.js"></script>
<script type="text/javascript" src="../../files/assets/js/script.min.js"></script>
</body>

</html>
