<!DOCTYPE html>
 <html lang="en">

 <head>
<!-- Original URL: https://demo.dashboardpack.com/admindek-html/index.html
Date Downloaded: 9/1/2020 11:32:00 AM !-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title>My | Admin Template </title>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="description" content="Admindek Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
     <meta name="keywords" content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app" />
     <meta name="author" content="colorlib" />
     <!-- Favicon icon -->
     <link rel="icon" href="files/assets/images/favicon.ico" type="image/x-icon" />
     <!-- Google font-->
     <!-- <link href="../../fonts.googleapis.com/css_cd14c140.css" rel="stylesheet" />
     <link href="../../fonts.googleapis.com/css_1dad5022.css" rel="stylesheet" /> -->
     <!-- Required Fremwork -->
     <link rel="stylesheet" type="text/css" href="../../files/bower_components/bootstrap/css/bootstrap.min.css" />
     <!-- waves.css -->
     <link rel="stylesheet" href="../../files/assets/pages/waves/css/waves.min.css" type="text/css" media="all" />
     <!-- feather icon -->
     <link rel="stylesheet" type="text/css" href="../../files/assets/icon/feather/css/feather.css" />
     <!-- font-awesome-n -->
     <link rel="stylesheet" type="text/css" href="../../files/assets/css/font-awesome-n.min.css" />
     <!-- Chartlist chart css -->
     <link rel="stylesheet" href="../../files/bower_components/chartist/css/chartist.css" type="text/css" media="all" />
     <!-- Style.css -->
     <link rel="stylesheet" type="text/css" href="../../files/assets/css/style.css" />
     <link rel="stylesheet" type="text/css" href="../../files/assets/css/widget.css" />
 </head>

 <body>
  <div class="loader-bg">
     <div class="loader-bar"></div>
 </div>