<% include ./inc/header %>

<!-- [ Pre-loader ] end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <!-- [ Header ] start -->
        <% include ./inc/topHeader %>
        

        <!-- [ chat message ] start -->
        <!-- [ chat message ] end -->


        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <!-- [ navigation menu ] start -->
                <% include ./inc/sidebar %>
                
                <!-- [ navigation menu ] end -->
                <div class="pcoded-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header card" style="background: #fff;padding: 20px;box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),0 11px 6px -7px rgba(43,43,43,0.1);">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <i class="feather icon-home bg-c-blue"></i>
                                    <div class="d-inline">
                                        <h5>Slider </h5>
                                        <span>lorem ipsum dolor sit consectetur adipisicing elit </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="page-header-breadcrumb">
                                    <ul class=" breadcrumb breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a href="/slider"><i class="feather icon-home"></i></a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#!">Slider </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <!-- [ page content ] start -->
                                    <div class="row">

                                        <!-- sale revenue card start -->
                                        
                                       
                                        
                                        
                                        
                                    <div class="col-xl-12 col-md-12">
                                        <div class="card table-card">
                                            <div class="card-header">
                                                <h5>New Products 
                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Add</button> 
                                                </h5>
                                                <!-- MODEL  -->
                                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                      <div class="modal-content modal-lg">
                                                        <form id="main" method="post" action="/" novalidate="">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                          </button>
                                                        </div>

                                                        <div class="modal-body">
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label">Simple Input</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" name="name" id="name" placeholder="Text Input Validation">
                                                                    <span class="messages"></span>
                                                                </div>
                                                                </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label">Simple Input</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" name="name" id="name" placeholder="Text Input Validation">
                                                                    <span class="messages"></span>
                                                                </div>
                                                                </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-3 col-form-label">Simple Input</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" name="name" id="name" placeholder="Text Input Validation">
                                                                    <span class="messages"></span>
                                                                </div>
                                                                </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary">Save changes</button>
                                                        </div>

                                                    </form>
                                                      </div>
                                                    </div>
                                                  </div>
                                                <!-- MODEL END  -->
                                                <div class="card-header-right">
                                                    <ul class="list-unstyled card-option">
                                                        <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                                        <li><i class="feather icon-maximize full-card"></i></li>
                                                        <li><i class="feather icon-minus minimize-card"></i></li>
                                                        <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                                        <li><i class="feather icon-trash close-card"></i></li>
                                                        <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="card-block">
                                                <div class="table-responsive">
                                                    <table class="table table-hover m-b-0">
                                                        <thead>
                                                            <tr>
                                                                <th>Product Name </th>
                                                                <th>Image </th>
                                                                <th>Status </th>
                                                                <th>Price </th>
                                                                <th>Action </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>HeadPhone </td>
                                                                <td><img src="../files/assets/images/widget/p1.jpg" alt="" class="img-fluid img-20"></td>
                                                                <td>
                                                                    <div class="p-status bg-c-green"></div>
                                                                </td>
                                                                <td>$10 </td>
                                                                <td><a href="#!"><i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-green"></i></a><a href="#!"><i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i></a></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                        
                                        
                                        
                                        <!-- sale revenue card end -->

                                        <!-- lettest acivity and statustic card start -->

                                        <!-- lettest acivity and statustic card end -->

                                    </div>
                                    <!-- [ page content ] end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ style Customizer ] start -->
                <div id="styleSelector">
                </div>
                <!-- [ style Customizer ] end -->
            </div>
        </div>
    </div>
</div>
<% include ./inc/footer %>
