<% include ./inc/header %>

<!-- [ Pre-loader ] end -->
<div id="pcoded" class="pcoded">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <!-- [ Header ] start -->
        <% include ./inc/topHeader %>
        

        <!-- [ chat message ] start -->
        <!-- [ chat message ] end -->


        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <!-- [ navigation menu ] start -->
                <% include ./inc/sidebar %>
                
                <!-- [ navigation menu ] end -->
                <div class="pcoded-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header card" style="background: #fff;padding: 20px;box-shadow: 0 0 5px 0 rgba(43,43,43,0.1),0 11px 6px -7px rgba(43,43,43,0.1);">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <i class="feather icon-home bg-c-blue"></i>
                                    <div class="d-inline">
                                        <h5>Dashboard </h5>
                                        <span>lorem ipsum dolor sit consectetur adipisicing elit </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="page-header-breadcrumb">
                                    <ul class=" breadcrumb breadcrumb-title">
                                        <li class="breadcrumb-item">
                                            <a href="index.html"><i class="feather icon-home"></i></a>
                                        </li>
                                        <li class="breadcrumb-item"><a href="#!">Dashboard </a> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="page-body">
                                    <!-- [ page content ] start -->
                                    <div class="row">

                                        <!-- sale revenue card start -->
                                        
                                        <!-- project-ticket start -->
                                             <div class="col-xl-4 col-md-12">
                                                 <div class="card proj-t-card">
                                                     <div class="card-body">
                                                         <div class="row align-items-center m-b-30">
                                                             <div class="col-auto">
                                                                 <i class="far fa-calendar-check text-c-red f-30"></i>
                                                             </div>
                                                             <div class="col p-l-0">
                                                                 <h6 class="m-b-5">Ticket Answered </h6>
                                                                 <h6 class="m-b-0 text-c-red">Live Update </h6>
                                                             </div>
                                                         </div>
                                                         <div class="row align-items-center text-center">
                                                             <div class="col">
                                                                 <h6 class="m-b-0">327 </h6></div>
                                                             <div class="col"><i class="fas fa-exchange-alt text-c-red f-18"></i></div>
                                                             <div class="col">
                                                                 <h6 class="m-b-0">10 Days </h6></div>
                                                         </div>
                                                         <h6 class="pt-badge bg-c-red">53% </h6>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="col-xl-4 col-md-6">
                                                 <div class="card proj-t-card">
                                                     <div class="card-body">
                                                         <div class="row align-items-center m-b-30">
                                                             <div class="col-auto">
                                                                 <i class="fas fa-paper-plane text-c-green f-30"></i>
                                                             </div>
                                                             <div class="col p-l-0">
                                                                 <h6 class="m-b-5">Project Launched </h6>
                                                                 <h6 class="m-b-0 text-c-green">Live Update </h6>
                                                             </div>
                                                         </div>
                                                         <div class="row align-items-center text-center">
                                                             <div class="col">
                                                                 <h6 class="m-b-0">3 Year </h6></div>
                                                             <div class="col"><i class="fas fa-exchange-alt text-c-green f-18"></i></div>
                                                             <div class="col">
                                                                 <h6 class="m-b-0">623 </h6></div>
                                                         </div>
                                                         <h6 class="pt-badge bg-c-green">76% </h6>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="col-xl-4 col-md-6">
                                                 <div class="card proj-t-card">
                                                     <div class="card-body">
                                                         <div class="row align-items-center m-b-30">
                                                             <div class="col-auto">
                                                                 <i class="fas fa-lightbulb text-c-yellow f-30"></i>
                                                             </div>
                                                             <div class="col p-l-0">
                                                                 <h6 class="m-b-5">Unique Innovation </h6>
                                                                 <h6 class="m-b-0 text-c-yellow">Live Update </h6>
                                                             </div>
                                                         </div>
                                                         <div class="row align-items-center text-center">
                                                             <div class="col">
                                                                 <h6 class="m-b-0">1 Month </h6></div>
                                                             <div class="col"><i class="fas fa-exchange-alt text-c-yellow f-18"></i></div>
                                                             <div class="col">
                                                                 <h6 class="m-b-0">248 </h6></div>
                                                         </div>
                                                         <h6 class="pt-badge bg-c-yellow">73% </h6>
                                                     </div>
                                                 </div>
                                             </div>
                                             <!-- project-ticket end -->
                                        
                                        <div class="col-xl-4 col-md-12">
                                            <div class="card latest-update-card">
                                                <div class="card-header">
                                                    <h5>What’s New </h5>
                                                    <div class="card-header-right">
                                                        <ul class="list-unstyled card-option">
                                                            <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                                            <li><i class="feather icon-maximize full-card"></i></li>
                                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                                            <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                                            <li><i class="feather icon-trash close-card"></i></li>
                                                            <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="scroll-widget">
                                                        <div class="latest-update-box">
                                                            <div class="row p-t-20 p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <img src="files/assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15 update-icon" />
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>Your Manager Posted. </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Jonny michel </p>
                                                                </div>
                                                            </div>
                                                            <div class="row p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <i class="feather icon-briefcase bg-c-red update-icon"></i>
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>You have 3 pending ____. </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Hemilton </p>
                                                                </div>
                                                            </div>
                                                            <div class="row p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <i class="feather icon-check f-w-600 bg-c-green update-icon"></i>
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>New Order Received. </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Hemilton </p>
                                                                </div>
                                                            </div>
                                                            <div class="row p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <img src="files/assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15 update-icon" />
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>Your Manager Posted. </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Jonny michel </p>
                                                                </div>
                                                            </div>
                                                            <div class="row p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <i class="feather icon-briefcase bg-c-red update-icon"></i>
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>You have 3 pending ____. </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Hemilton </p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <i class="feather icon-check f-w-600 bg-c-green update-icon"></i>
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>New Order Received. </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Hemilton </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-md-6">
                                            <div class="card latest-update-card">
                                                <div class="card-header">
                                                    <h5>Latest Activity </h5>
                                                    <div class="card-header-right">
                                                        <ul class="list-unstyled card-option">
                                                            <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                                            <li><i class="feather icon-maximize full-card"></i></li>
                                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                                            <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                                            <li><i class="feather icon-trash close-card"></i></li>
                                                            <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="scroll-widget">
                                                        <div class="latest-update-box">
                                                            <div class="row p-t-20 p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <i class="b-primary update-icon ring"></i>
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>Devlopment & Update </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Lorem ipsum dolor sit ____, <a href="#!" class="text-c-blue"> More </a></p>
                                                                </div>
                                                            </div>
                                                            <div class="row p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <i class="b-primary update-icon ring"></i>
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>Showcases </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Lorem dolor sit amet, <a href="#!" class="text-c-blue"> More </a></p>
                                                                </div>
                                                            </div>
                                                            <div class="row p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <i class="b-success update-icon ring"></i>
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>Miscellaneous </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Lorem ipsum dolor sit _____ amet, <a href="#!" class="text-c-green"> More </a></p>
                                                                </div>
                                                            </div>
                                                            <div class="row p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <i class="b-danger update-icon ring"></i>
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>Your Manager Posted. </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Lorem ipsum dolor sit ____, <a href="#!" class="text-c-red"> More </a></p>
                                                                </div>
                                                            </div>
                                                            <div class="row p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <i class="b-primary update-icon ring"></i>
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>Showcases </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Lorem dolor sit amet, <a href="#!" class="text-c-blue"> More </a></p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <i class="b-success update-icon ring"></i>
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>Miscellaneous </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Lorem ipsum dolor sit _____ amet, <a href="#!" class="text-c-green"> More </a></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-xl-4 col-md-12">
                                            <div class="card latest-update-card">
                                                <div class="card-header">
                                                    <h5>What’s New </h5>
                                                    <div class="card-header-right">
                                                        <ul class="list-unstyled card-option">
                                                            <li class="first-opt"><i class="feather icon-chevron-left open-card-option"></i></li>
                                                            <li><i class="feather icon-maximize full-card"></i></li>
                                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                                            <li><i class="feather icon-refresh-cw reload-card"></i></li>
                                                            <li><i class="feather icon-trash close-card"></i></li>
                                                            <li><i class="feather icon-chevron-left open-card-option"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="card-block">
                                                    <div class="scroll-widget">
                                                        <div class="latest-update-box">
                                                            <div class="row p-t-20 p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <img src="files/assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15 update-icon" />
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>Your Manager Posted. </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Jonny michel </p>
                                                                </div>
                                                            </div>
                                                            <div class="row p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <i class="feather icon-briefcase bg-c-red update-icon"></i>
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>You have 3 pending ____. </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Hemilton </p>
                                                                </div>
                                                            </div>
                                                            <div class="row p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <i class="feather icon-check f-w-600 bg-c-green update-icon"></i>
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>New Order Received. </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Hemilton </p>
                                                                </div>
                                                            </div>
                                                            <div class="row p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <img src="files/assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15 update-icon" />
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>Your Manager Posted. </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Jonny michel </p>
                                                                </div>
                                                            </div>
                                                            <div class="row p-b-30">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <i class="feather icon-briefcase bg-c-red update-icon"></i>
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>You have 3 pending ____. </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Hemilton </p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-auto text-right update-meta p-r-0">
                                                                    <i class="feather icon-check f-w-600 bg-c-green update-icon"></i>
                                                                </div>
                                                                <div class="col p-l-5">
                                                                    <a href="#!">
                                                                        <h6>New Order Received. </h6>
                                                                    </a>
                                                                    <p class="text-muted m-b-0">Hemilton </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                        <!-- analytic card start -->
                                             <div class="col-xl-4 col-md-6">
                                                 <div class="card social-card">
                                                     <div class="card-body text-center">
                                                         <h2 class="text-facebook m-b-20"><i class="fab fa-facebook-f"></i></h2>
                                                         <h3 class="text-facebook f-w-700">6,750 </h3>
                                                         <p>Likes </p>
                                                         <p class="m-b-0 m-t-15"><i class="fas fa-caret-up m-r-10 f-18 text-c-green"></i>223 from last 7 ____ </p>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="col-xl-4 col-md-6">
                                                 <div class="card social-card">
                                                     <div class="card-body text-center">
                                                         <h2 class="text-twitter m-b-20"><i class="fab fa-twitter"></i></h2>
                                                         <h3 class="text-twitter f-w-700">9,752 </h3>
                                                         <p>Tweets </p>
                                                         <p class="m-b-0 m-t-15"><i class="fas fa-caret-up m-r-10 f-18 text-c-green"></i>623 from last 7 ____ </p>
                                                     </div>
                                                 </div>
                                             </div>
                                             <div class="col-xl-4 col-md-6">
                                                 <div class="card social-card">
                                                     <div class="card-body text-center">
                                                         <h2 class="text-linkedin m-b-20"><i class="fab fa-linkedin-in"></i></h2>
                                                         <h3 class="text-linkedin f-w-700">952 </h3>
                                                         <p>Followers </p>
                                                         <p class="m-b-0 m-t-15"><i class="fas fa-caret-down m-r-10 f-18 text-c-red"></i>98 from last 7 ____ </p>
                                                     </div>
                                                 </div>
                                             </div>
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        
                                        <!-- sale revenue card end -->

                                        <!-- lettest acivity and statustic card start -->

                                        <!-- lettest acivity and statustic card end -->

                                    </div>
                                    <!-- [ page content ] end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ style Customizer ] start -->
                <div id="styleSelector">
                </div>
                <!-- [ style Customizer ] end -->
            </div>
        </div>
    </div>
</div>
<% include ./inc/footer %>
